.item {
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    align-items: center;
    background-color: lightsteelblue;
    flex: 0 1 100%;
    font-size: 20px;
    display: none;
}

@media (max-width: 768px) {
    .item {
        display: block;
    }
}