.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
    font-weight: bold;
    cursor: pointer;
    flex: 0 1 100%;
}